<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	package="cosine.boat">
	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true" />
    <uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission 
		android:name="android.permission.INTERNET" />
    <uses-permission 
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    <application 
		android:theme="@style/BoatTheme" 
		android:label="@string/app_name" 
		android:largeHeap="true"
		android:icon="@drawable/ic_boat"
		android:name="cosine.boat.BoatApplication">
        <activity 
			android:label="@string/app_name" 
			android:name="LauncherActivity" 
			android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service 
			android:name="cosine.boat.logcat.LogcatService" 
			android:process=":logcatprocess"/>
		<activity android:name="BoatActivity"
			android:theme="@style/FullScreenTheme"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
			android:screenOrientation="sensorLandscape"
			
			android:excludeFromRecents="false"
			android:launchMode="singleInstance"
			android:alwaysRetainTaskState="true">
			
        </activity>
    </application>
</manifest>
